html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@keyframes st_move{
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    50% {
        transform: translateX(-25%);
        opacity: 1;
    }

    100% {
        transform: translateX(50%);
        opacity:0;
    }
}

@media (min-width: 1400px) {
    .container{
        max-width: 1140px;
    }

    .shadow-box{
        max-width: 60%;
    }
}