@using Blog.Models
@model List<BlogEntry>



<div>
    @foreach(BlogEntry post in @Model){
        <div class="card mb-2">
            <div class="card-body">
                @Html.Raw(@post.Content)
            </div>
        </div>
    }
</div>