@{
    ViewData["Title"] = "About me";
}

<div class="about-page">
    <h1>@ViewData["Title"]</h1>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Men kimman ?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Education
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <h3>#litsey</h3>
                    Men tumanimizdagi 49-boshlang'ich umumta'lim maktabidan 2014-yili 2-VIDUMI ga qabul qilinganman va shu yerda 2021-yilgacha o'qidim. Ko'plab do'stlar va ajoyib ustozlar bilan birgalikda viloyat va respublika miqyosidagi fan olimpiadalarida yuqori natijalarni qo'lga kiritdik. 
                    <br />
                    <br />
                    <div class="block-of-pictures d-flex justify-content-center">
                        <div class="images d-flex justify-content-center">
                            <div class="goldmen rounded d-flex justify-content-center">
                                <img class="rounded border-1" src="~/images/goldman.jpg" />
                            </div>
                            <div class="all-medalists rounded d-flex justify-content-center">
                                <img class ="rounded border-1" src="~/images/all-medalists.jpg" />
                            </div>
                        </div>
                    </div>
                    <p class="text-center">#bizning litsey bitiruvchilari medallari by hokim</p>

                    <br />
                    <h3>#university</h3>
                    2021-yili esa <a href="https://tuit.uz/">Toshkent Axborot Texnologiyalari universiteti</a>ning Dasturiy injiniring fakultetiga davlat granti asosida o'qishga qabul qilindim va Dasturlash haqidagi dastlabki tushunchalarga ega bo'ldim :)
                    <code class="badge bg-secondary">Hello World!</code>
                    <br />
                    <br />
                    <h3>#pdp</h3>
                    Ikkinchi kursdan boshlab har xil kurslarga bordim va hayotimni o'zgartirgan joylardan biri <a href="https://online.pdp.uz/">Pdp Academy</a> bo'ldi.
                    <br />
                    <div class="pdp d-flex justify-content-center">
                        <img class="rounded border-1" src="~/images/pdp.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Experience
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
            </div>
        </div>
    </div>
</div>

<style>
    a{
        text-decoration: none;
    }

    .block-of-pictures .images{
        max-width: 90%;
    }

    .goldmen img{
        max-width: 90%;
        height: auto;
    }

    .all-medalists img{
        max-width: 90%;
        height: auto;
    }

    .pdp img{
        max-width: 90%;
        height: auto;
    }
</style>
