@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<section class="start-trail">
    <div class="container text-center mb-5">
        <div class="row">
            <div class="col-11 offset-1 col-md-6 offset-md-3">
                <h6>Start your trail</h6>
            </div>
            <div class="col-11 offset-1 col-md-6 offset-md-3 mt-3">     
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Email" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
                </div>
            </div>
        </div>
    </div>
</section>


