@model Post

<form asp-controller="Blog" asp-action="CreatePost" method="post">
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input asp-for="Title" type="text" class="form-control" placeholder="write any Title for your new post ...">
    </div>
    
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" placeholder="write any Description for your new post ..." style="height: 60px"></textarea>
    </div>
    
    <div class="mb-3">
        <label asp-for="Content" class="form-label">Main Content</label>
        <textarea asp-for="Content" class="form-control" placeholder="write any main body" style="height: 125px"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Author" class="form-label">Author</label>
        <input asp-for="Author" type="text" class="form-control" placeholder="Write your full name">
    </div>

    <div class="mb-3">
        <label asp-for="AuthorUrl" class="form-label">Linkedin profile</label>
        <input asp-for="AuthorUrl" type="text" class="form-control" placeholder="Write your Linkedin profile">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>